<%- include("partial/header"); -%>

<section id="coding-section">
    <div class="container-fluid">
     
<div class="row">
    <div class="col-lg-6">
    <h1 class="big-heading">These are the best <span class="big-heading span-application"> Application </span>for coding</h1>
    <p class="course-sub"> It's available for both iOS and Android devices, and it also has a web app so you can use it to learn code from anywhere.</p>
            <a href="#snippit" class="btn btn-outline-dark btn-lg  learning-button">Get Started</a>
     

    </div>
    <div class="col-lg-6">
    <img class="snippet-img" src="/code-snippet.png" alt="img">
    </div>
    </div>
    </div>
</section>


<section id="snippit">
    <div class="snippit-title-1">
    <h1>Applications</h1>
    <p class="snippet-para"> there are some awesome Application for improve or enjoy the coding. it will be a IOS and android application and web application as well </p>
</div>
    <!-- Card -->
 <div class="row">
<div class="col-md-4">
  <div class="card">
    <img class="cardd" src="/sololearn.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><a>SoloLearn</a></h4>
      <p class="card-text">Prepping for the big test or want to ace your first interview? Use Sololearn's real-world practice to reinforce what you've learned and get you ready for that big moment. </p>
      <a href="https://www.sololearn.com/" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card">
      <img class="cardd" src="/mimo.webp" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>MIMO</a></h4>
        <p class="card-text">if you do not know how to code this app is a great starting point. It really sticks to the basics, I recommend this if you think you can invest 10 to twenty minutes a day into comprehending it. </p>
        <a href="https://mimo.org/" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="cardd" src="/w3schoolapp.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>W3School App</a></h4>
        <p class="card-text">W3Schools is a web development educational website that offers tutorials, references, and exercises related to various web development technologies, such as HTML, CSS, JavaScript, PHP, Python, and more.</p>
        <a href="https://w3schools.en.uptodown.com/android" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="cardd" src="/grasshoper.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Grasshopper</a></h4>
        <p class="card-text">It offers interactive puzzles and quizzes to teach coding fundamentals in JavaScript through fun and engaging activities. The app provides a user-friendly interface and a step-by-step learning approach, making it easy for beginners to understand coding concepts.</p>
        <a href="https://grasshopper.app/" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="cardd" src="/programminghub.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Programming Hub</a></h4>
        <p class="card-text">Programming Hub, a new way to learn programming. Interactive, simple & made for you. A truly awesome app for learning programming and getting certifications in courses in an easy and fun way. It’s the best app to learn programming and it’s free.</p>
        <a href="https://programminghub.io/" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="cardd" src="datacamp.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>DataCamp</a></h4>
        <p class="card-text">One best platforms to learn data and machine learning related programming languages. This is one of the best choices I had made in my programming career.  if your for real want to be anything in the data field this is the place.</p>
        <a href="https://www.datacamp.com/" class="btn btn-outline-dark btn-lg btn-block">Let's Go</a>
      </div>
    </div>
  </div>
  <!-- Card -->
 
</div>
</section>

<%- include("partial/footer") -%>