<%- include("partial/header"); -%>


<section id="coding-section">
    <div class="container-fluid">
     
<div class="row">
    <div class="col-lg-6">
    <h1 class="big-heading">These are the best coding Platform</h1>
    <p class="course-sub"> we find all Coding platform that are free on internet and put together here in this website, So you don't need to find or google it. All 
            courses that you are looking for is here.</p>
            <a href="#courses" class="btn btn-outline-dark btn-lg  learning-button">Click here to Start</a>
     

    </div>
    <div class="col-lg-6">
    <img class="coding-img" src="/coding-bg.png" alt="img">
    </div>
    </div>
    </div>
</section>


<section id="coding">
    <div class="coding-title-1">
    <h1>Coding Platform Websites</h1>
    <p>Here are some awesome Coding Platform Websites that will help you to practice your coding skills and join in a various contest also.</p>
</div>
    <!-- Card -->
 <div class="row">
<div class="col-md-4">
  <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
    <img class="card-img-top" src="/Hacker-rank.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><a>HackerRank</a></h4>
      <p class="card-text">In HackerRank you will able to prepare for job interview, build your resume, practice and contest, and you will find Job Board </p>
      <a href="https://www.hackerrank.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/codechef.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>CodeChef</a></h4>
        <p class="card-text">CodeChef is an online educational platform and competitive programming community of global programmers.</p>
        <a href="https://www.codechef.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="hackerearth.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>HackerEarth</a></h4>
        <p class="card-text">HackerEarth Assessment is an online technical-recruitment tool that enables you to create tests and evaluate candidates to find the right fit for your team.</p>
        <a href="https://www.hackerearth.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/codeforces.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Codeforces</a></h4>
        <p class="card-text">Codeforces is a website that hosts competitive programming contests. It is maintained by a group of competitive programmers from ITMO University led by Mikhail Mirzayanov.</p>
        <a href="https://codeforces.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/topcoder.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Top Coder</a></h4>
        <p class="card-text">Topcoder competitive programming is a widely popular platform for competitive programming. It is one of the best coding practice sites for beginners that offer a lot of algorithmic challenges that you can complete on your own using their code editor tool.</p>
        <a href="https://www.topcoder.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="leetcode.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>LeetCode</a></h4>
        <p class="card-text">
            Leetcode is a platform for practicing software problems. It has tons of coding problems on a wide range of subjects. It is helpful for anyone looking to practice coding problems or practice for interviews.</p>
        <a href="https://leetcode.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <!-- Card -->
 
</div>
</section>



<%- include("partial/footer") -%>