<%- include("partial/header"); -%>

<section id="course-section">
    <div class="row">
    <div class="col ">
        <h1 class="course-heading">All <span class="big-heading span-course">Free Courses</span> are here!!</h1>
        <p class="course-sub"> we find all courses that are free on internet and put together here in this website, So you don't need to find or google it. All 
            courses that you are looking for is here.</p>
            <a href="#courses" class="btn btn-outline-dark btn-lg  learning-button">Click here to Start</a>
            
    </div>
    <div class="col">
        <img class="course-img" src="/courses-page.png"/>
    </div>
</div>
</section>
<section id="courses">
    <div class="course-title-1">
    <h1>YouTube Channel</h1>
    <p>Here are some awesome YouTube Channels that will help you to learn easly</p>
</div>
    <!-- Card -->
 <div class="row">
<div class="col-md-4">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <img class="card-img-top" src="/CodewithHarry.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><a>CodewithHarry</a></h4>
      <p class="card-text">YouTube Channel</p>
      <a href="https://www.youtube.com/@CodeWithHarry" class="btn btn-outline-dark btn-lg btn-block">Start</a>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/FreeCodeCamp.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>FreeCodeCamp</a></h4>
        <p class="card-text">YouTube Channel</p>
        <a href="https://www.youtube.com/@FreeCodeCamp" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="TraversyMedia.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>TraversyMedia</a></h4>
        <p class="card-text">YouTube Channel</p>
        <a href="https://www.youtube.com/@TraversyMedia" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/CleverProgrammer.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Clever Programmer</a></h4>
        <p class="card-text">YouTube Channel</p>
        <a href="https://www.youtube.com/@CleverProgrammer" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/Telusko.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Telusko</a></h4>
        <p class="card-text">YouTube Channel</p>
        <a href="https://www.youtube.com/@Telusko" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="mycodeschool.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>mycodeschool</a></h4>
        <p class="card-text">YouTube Channel</p>
        <a href="https://www.youtube.com/@mycodeschool" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <!-- Card -->
 
</div>
</section>



<%- include("partial/footer") -%>
