<%- include("partial/header"); -%>

<section id="coding-section">
    <div class="container-fluid">
     
<div class="row">
    <div class="col-lg-6">
    <h1 class="big-heading">These are the best <span class="big-heading span"> Code Snippits </span>Website</h1>
    <p class="course-sub"> we find all Code Snippets Websitethat are free on internet and put together here in this website, So you don't need to find or google it.</p>
            <a href="#snippit" class="btn btn-outline-dark btn-lg  learning-button">Get Started</a>
     

    </div>
    <div class="col-lg-6">
    <img class="snippet-img" src="/code-snippet.png" alt="img">
    </div>
    </div>
    </div>
</section>


<section id="snippit">
    <div class="snippit-title-1">
    <h1>Code Snippets</h1>
    <p class="snippet-para"> there are some awesome Code Snippets Websites. Code snippets are small blocks of reusable code that you can add to a code file by using the right-click context menu command or a combination of hotkeys.</p>
</div>
    <!-- Card -->
 <div class="row">
<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="/codepen.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><a>CodePen</a></h4>
      <p class="card-text">CodePen is a social development environment for front-end designers and developers. Build and deploy a website, show off your work. </p>
      <a href="https://codepen.io/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="/cssdeck.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>CSS Deck</a></h4>
        <p class="card-text"> CSSDeck is another resource and allows people to share and experiment with code. It is a great place for developers that work with HTML, CSS, and JavaScript. </p>
        <a href="https://cssdeck.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="card-img-top" src="codepad.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>CodePad</a></h4>
        <p class="card-text">codepad is an online compiler/interpreter, and a simple collaboration tool. Paste your code below, and codepad will run it and give you a short URL you can use to share it in chat or email.</p>
        <a href="http://codepad.org/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="card-img-top" src="/snippir.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Snippir</a></h4>
        <p class="card-text">With Snipplr you can keep all of your frequently used code snippets in one place that's accessible from any computer. You can share your code with other visitors and use what they post, too.</p>
        <a href="https://snipplr.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="card-img-top" src="/freefrontend.jpeg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>Free Frontend</a></h4>
        <p class="card-text">Free hand-picked HTML, CSS and JavaScript (jQuery, React, Vue) code examples, tutorials and articles.</p>
        <a href="https://freefrontend.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card snippet-card">
      <img class="card-img-top" src="CodeMyUI.webp" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><a>CodeMyUI</a></h4>
        <p class="card-text">CodeMyUI is a website where you can find everything about pre-written Front End code like Javascript, HTML, CSS, Jquery Plugin or even designs available for web development. </p>
        <a href="https://codemyui.com/" class="btn btn-outline-dark btn-lg btn-block">Start</a>
      </div>
    </div>
  </div>
  <!-- Card -->
 
</div>
</section>

<%- include("partial/footer") -%>