<%- include("partial/header"); -%>

<section id="website-section">
    <div class="container-fluid">
     
<div class="row">
    <div class="col-lg-6">
    <h1 class="big-heading">These are the best Documentation Websites</h1>
    <p class="course-sub"> we find all Coding platform that are free on internet and put together here in this website, So you don't need to find or google it. All 
            courses that you are looking for is here.</p>
            <a href="#courses" class="btn btn-outline-dark btn-lg  learning-button">Click here to Start</a>
     

    </div>
    <div class="col-lg-6">
    <img class="coding-img" src="/website-bg.png" alt="img">
    </div>
    </div>
    </div>
</section>


<section id="website">
    <div class="coding-title-1">
    <h1>Coding Platform Websites</h1>
    <p>Here are some awesome Coding Platform Websites that will help you to practice your coding skills and join in a various contest also.</p>
</div>
    <!-- Card -->
 <div class="row">
<div class="col-md-4">
  <div class="card card-bg-website p-3 mb-5 bg-white ">
    <img class="card-img-top" src="/w3school.png" alt="Card image cap">
    <div class="card-body">
      
      <p class="card-text">W3Schools is a freemium educational website for learning coding online. </p>
      <a href="https://www.w3schools.com/" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
    </div>
  </div>
</div>
<div class="col-md-4">
    <div class="card card-bg-website  p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/gfg.png" alt="Card image cap">
      <div class="card-body">
        
        <p class="card-text">Some of the content on GeeksforGeeks assumes a certain level of familiarity with programming concepts and may be difficult for someone with no prior experience to understand.</p>
        <a href="https://practice.geeksforgeeks.org/courses/dsa-self-paced?source=google&medium=cpc&device=c&keyword=geeksforgeeks&matchtype=b&campaignid=9546568041&adgroup=97966155295" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-website  p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/tutorialspoint.png" alt="Card image cap">
      <div class="card-body">
        
        <p class="card-text">Tutorialspoint.com is a dedicated website to provide quality online education in the domains of Computer Science, Information Technology, Programming Languages, and other Engineering as well as Management subjects.</p>
        <a href="https://www.tutorialspoint.com/index.htm" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-website  p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/javatpoint.png" alt="Card image cap">
      <div class="card-body">
   
        <p class="card-text">
            JavaTpoint provides easy and point to point learning of various online tutorials such as Java, Android, Design Pattern, JavaScript, AJAX, SQL, Artificial Intellegence, Cloud Computing, Hadoop, Data Science, Machine Learning, Blockchain, Angular, and Python etc.</p>
        <a href="https://www.javatpoint.com/" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-website  p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="/programiz.jpeg" alt="Card image cap">
      <div class="card-body">
        
        <p class="card-text">Programiz PRO is not just another programming course. Instead, it is a most interactive learning platform where you can learn by writing code, solving challenges, and building projects in real-time.</p>
        <a href="https://www.programiz.com/" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-website  p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="freecodecampp.png" alt="Card image cap">
      <div class="card-body">
        
        <p class="card-text">
            earning certifications through freeCodeCamp enhances your existing skill set, helps you learn new skills, and even helps you figure out your future career.</p>
        <a href="https://www.freecodecamp.org/" class="btn btn-outline-dark btn-lg btn-block">Learn More</a>
      </div>
    </div>
  </div>
  <!-- Card -->
 
</div>
</section>

<%- include("partial/footer") -%>