@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Montserrat';

}

.card-bg {

    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: all 0.2s;


    background: radial-gradient(#33d1e6, #ffffff);
    border-radius: 50%;

    animation: move-up6 2s ease-in infinite alternate-reverse;
    animation-name: move-down1;
}

.card-bg:hover {
    transform: scale(1) rotate(0.9deg);
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}
.card-bg-website{
    width: 70%;
 height: 90%;
 border-radius: 30px;
 background: #212121;
 box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}
.card-bg-website:hover{
    transform: scale(0.9);
}


#nav-section {
    color: #060606;
}

#title {
    background-color: #ffffff;
    color: #14163e;
    padding: 2% 11% 9%;
}

#feature-section {
    background-color: #1abc9c;
    color: #ffffff;
    padding: 5%;
}

.f-content {
    text-align: center;

}

.heading-img {
    width: 70%;
    height: 80%;
    margin-left: 20%;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}
.span{
    color: #1abc9c;
}
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;

}

.logo-img {
    width: 60%;
    height: 60%;
}

.learning-button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    padding-right: 30%;

}

.pad-nav {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.row {
    padding-top: 4.5rem;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

/* Provided */
#pricing {
    background-image: url("/bg-home-provided.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    text-align: center;
}

.price-text {
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

span {
    font-size: 15px;
}

/* a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
} */
.box {
    padding: 60px 0px;
}

.icon-provide {
    width: 50px;
    height: 50px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}

/* courses section */
#course-section {
    padding: 7% 2%;
}

/* Login Page */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

/* courses section */
#course-section {
    text-align: center;
    padding-bottom: 0;
    max-height: 60vh;
}

#courses {
    background-image: -webkit-linear-gradient(-290deg, #4fd2d6 30%, #e1f3fc 70%);
    background-blend-mode: overlay;
}
.span-course{
    color: #d56c26;
}

.course-img {
    height: 60%;
    margin-left: 15%;
}

.course-title-1 {
    padding-top: 10%;
    text-align: center;
}
/* code snippet */
#snippit{
    text-align: center;
    padding: 5%;
}
.snippet-para{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    color: #b6b6b6;
}
.card{
    width: 400px;
    height: 450px;
    background: white;
    margin: 3%;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
  
}
/* Application */
.span-application{
    color: #97187e;
}
.card{
    width: 400px;
    height: 500px;
    background: white;
    margin: 3%;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
  
}
.cardd{
    width: 400px;
    height: 450px;
    background: white;
    margin: 3%;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
}

/* Coding section */
#coding-section {
    background-color: #ffffff;
    color: #14163e;
    padding: 2% 11% 9%;
    max-height: 100vh;
}

#coding {
    background-image: -webkit-linear-gradient(-290deg, #4fd2d6 30%, #e1f3fc 70%);
    background-blend-mode: overlay;
}

.coding-img {
    height: 50%;

}

.coding-title-1 {
    padding-top: 10%;
    text-align: center;

}
#website-section{
    background-color: #ffffff;
    color: #3e1414;
    padding: 2% 11% 9%;
    max-height: 100vh;
}
#website{
    background-image: -webkit-linear-gradient(-290deg, #b7b1b1 30%, #fffcfc 70%);
    background-blend-mode: overlay;
}

/* Contact US  */
#contact-section {
    background-image: url("https://images.unsplash.com/photo-1606636660488-16a8646f012c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}

.contact {
    padding: 10%;

}

.form-group {
    padding: 1%;
}

.col-md-3 {
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info {
    margin-top: 10%;
}

.contact-info img {
    margin-bottom: 15%;
}

.contact-info h2 {
    margin-bottom: 10%;
}

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

/* contact us end */

/* footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}